/* main header */
#head {
  background-image: url("../images/header.jpg");
  height: 98vh;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}

}
/* end zigzag */

#clickMe {
  float: right;
  margin-right: 20px;
}

#arrow {
  margin-top: 5%;
  margin-right: 0px;
}

#menu {
  height: 15vh;
  margin-left: 0px;
}

/*menu section styling*/

.recipe-link {
  justify-content: center;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/S3/bg1.jpg');
  background-attachment: fixed;
  height: 60vh;
  padding-left: 200px;
}

.recipe-link img {
  padding-top: 0%;
  margin-top: 5%;
}

.recipe-link h1 {
  padding-top: 2px;
  ;
  text-align: center;
  color: white;
  padding: 0px;

}

/*navigation bar styling*/

#nav {
  float: right;
  height: 100px;
  background: transparent; // Transparent initial setting
  display: block;
  position: fixed;
  width: 100%;
  z-index: 99999;
  transition: all ease .5s;
}

.nav {
  float: right;
}

.nav a {
  color: white;
  font-size: 15px;
  letter-spacing: 5px;
}

#logo {
  float: left;
  letter-spacing: normal;
  color: #fff;
  padding: 20px;
  font-size: 18px;
  transition: all ease .5s;
}

#nav.shrink {
  height: 40px;
  transition: all ease .5s;
  background: black; // Change background to black on scroll
}

#nav.shrink #logo {
  padding: 10px;
  transition: all ease .5s;
}

/*Styling of frames used in the menu section*/

.imgFrame {
  float: left;
  background: transparent;
  padding: 15px;
  border: 4px solid white;
  height: 270px;
  width: 180px;
  margin-top: 4%;
  margin-left: 11%;
}

.imgFrame figcaption {
  color: white;
  text-align: center;
  padding-top: 50px;
}

/*Footer section styling*/

#footSection {
  background-image: url("../images/footerbg.jpg");
  height: 70vh;
  align-items: center;
}

#footSection p {
  color: white;
}

#footerImage1 {
  float: left;
  height: 70vh;
  margin-left: : 0%;
}

#footerImage2 {
  float: right;
  height: 70vh;
  padding: 0%;
  margin: 0%;
}

#footSection .socialmedia {
  word-spacing: 40px;
  font-size: 30px;
  color: white;

}

.sides {
  margin: 0%;
  padding: 0%;
}
/* section4 */


.section3 {
  margin-top: 5%;
}

#head2 {
  text-align: center;
}
#divider{
  width: 400px;
}

#img1 {
  float: right;
  margin-top: 0%;
}

  text-align: center;
  margin-top: 100px;
}

.text {
  position: absolute;
  margin-left: 260px;
  margin-top: 120px;
}

.text h3 {
  color: white;
  text-align: center;
}

.text li {
  color: white;
}

.text .copyright {
  text-align: center;
  margin-top: 30px;
  margin-left: 18px;
}


/* section 4 styling*/
/* section4 */


.bg {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/S3/section4.jpg');
  height: 40vh;
  background-attachment: fixed;
}

.icons {
  margin-left: 100px;
  margin-top: 6%;
}

#chef {
  margin-top: 0%;
  display: inline;
  position: relative;
}

#glass {
  margin-top: 0%;
  display: inline;
  position: relative;
  height: 10%;
}

#txt {
  color: white;
  font-size: 22px;
  font-weight: bold;
  padding-top: 10px;
}

.icon-text {
  font-size: 20px;
}

#come {
  color: white;
  text-align: center;
  justify-content: center;
}

.counter-Txt span {
  display: block;
  font-size: 36px
}

@media(min-width:320px) and (max-width:767px) {
  .c-no {
    height: 100%;
  }
  .counter-Txt {
    margin-top: 10px;
  }
  .margin-bot-35 {
    margin-bottom: 35px;
  }
}


.recipe-body {
  line-height: 150%;
  font-family: monospace;
  background-color: #dcdcdc;
}

.container, .button {
  width: 75%;
  margin: 0 auto;
}

.recipe-header {
  text-align: center;
}

.span {
  text-align: center;
}

.title {
  text-align: center;
  font-size: 3em;
}

.directions {
  text-align: center;
  border-bottom: solid 1px #A9A9A9;
  font-size: 1.5em;
}

.options {
  text-align: center;
}

label {
  line-height: 150%;
}

.container {
  margin-top: 2em;
  font-size: 1.5em;
}

.user-input, #courseDD {
  font-size: 110%;
}

.submit {
  width: 100%;
}

.button {
  font-size: 125%;
}

.recipeContainer {
  border: solid 2px #a9a9a9;
  max-width: 60%;
  font-size: 110%;
  background-color: white;
  padding: 2em;
  margin: 2em auto 0;
}

.ingPara {
  font-weight: bold;
  font-size: 120%;
  text-align: left;
}

.ingUL {
  text-align: left;
}

.recipeTitle {
  line-height: 150%;
}

/* breakfast section starts here */

#head-breakfast {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/new.jpeg');
  padding-bottom: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  background-attachment: fixed;
  box-shadow: 0 0 5px 1px #331a00;
  margin-top: -5vh;
}

#break1 {
  text-align: center;
  color: white;
  margin-bottom: -3%;
  text-align: left;
  font-size: 25vh;
  padding-top: 14%;
  text-decoration: overline;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-family: 'Berkshire Swash', cursive;
  text-align: center;
}

/* pancakes */

#pic1 {
  height: 45vh;
  box-shadow: 3px 3px 2px 0.5px #331a00;
  margin-left: 18vh;
}

#pic21 {
  height: 45vh;
  box-shadow: 3px 3px 2px 0.5px #331a00;
  ;
  margin-left: 18vh;
}

#pic31 {
  height: 45vh;
  box-shadow: 3px 3px 2px 0.5px #331a00;
  ;
  margin-left: 18vh;
}

.row {
  margin-top: 5vh;
  background-attachment: scroll;
  padding-bottom: 5vh;
}

#con11 {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/new.jpeg');
  background-position: center top;
  margin-bottom: 0%;
  font-size: 10vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  box-shadow: 0 3px 80px 10px #331a00;
  background-attachment: fixed;
  text-align: left;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-family: 'Berkshire Swash', cursive;
  text-decoration: overline;
  color: white;
}

#breakfast figcaption {
  text-align: center;
  font-size: 3vh;
  font-family: 'Patua One', cursive;
  font-family: 'Satisfy', cursive;
  margin-top: 2vh;
  text-decoration: overline;
  margin-left: 9vh;
}

body {
  background-color: #ffffff;
}

#con11 {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/new.jpeg');
  background-position: center top;
  margin-bottom: 0%;
  font-size: 10vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  box-shadow: 0 3px 80px 10px #331a00;
  background-attachment: fixed;
  text-align: left;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-family: 'Berkshire Swash', cursive;
  text-decoration: overline;
  color: white;
  margin-left: 0;
}

#con21 {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/new.jpeg');
  background-position: center top;
  margin-bottom: 0%;
  font-size: 10vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  box-shadow: 0 3px 80px 10px #331a00;
  background-attachment: fixed;
  text-align: left;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-family: 'Berkshire Swash', cursive;
  text-decoration: overline;
  color: white;
  margin-left: -2.8%;
}

.footer-dinner1 {
  text-decoration: underline;
  text-align: center;
  font-size: 10vh;
  height: 8vh;
  margin-left: -6vh;
  font-family: 'Patua One', cursive;
  font-family: 'Satisfy', cursive;
  font-family: 'Lobster Two', cursive;
  font-family: 'Tangerine', cursive;
  padding-top: 3vh;
}

/* breakfast section ends here */

/* lunch section starts here  */

#head-lunch {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/pic/w.jpg');
  padding-bottom: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  background-attachment: fixed;
  box-shadow: 0 0 5px 1px #331a00;
  margin-top: -5vh;
}

#break {
  text-align: center;
  color: white;
  margin-bottom: -3%;
  text-align: left;
  font-size: 25vh;
  padding-top: 14%;
  text-decoration: overline;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-family: 'Berkshire Swash', cursive;
  text-align: center;
}

#pic1 {
  height: 45vh;
  box-shadow: 3px 3px 2px 0.5px #331a00;
  ;
  margin-left: 18vh;
}

#pic2 {
  height: 45vh;
  box-shadow: 3px 3px 2px 0.5px #331a00;
  ;
  margin-left: 18vh;
}

#pic3 {
  height: 45vh;
  box-shadow: 3px 3px 2px 0.5px #331a00;
  ;
  margin-left: 18vh;
}

.row {
  margin-top: 5vh;
  background-attachment: scroll;
  padding-bottom: 5vh;
}

#con {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/pic/w.jpg');
  background-position: center top;
  margin-bottom: 0%;
  font-size: 10vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  box-shadow: 0 3px 80px 10px #331a00;
  background-attachment: fixed;
  text-align: left;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-family: 'Berkshire Swash', cursive;
  text-decoration: overline;
  color: white;
}

#breakfast figcaption {
  text-align: center;
  font-size: 3vh;
  font-family: 'Patua One', cursive;
  font-family: 'Satisfy', cursive;
  margin-top: 2vh;
  text-decoration: overline;
  margin-left: 9vh;
}

body {
  background-color: #ffffff;
}

#con1 {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/pic/w.jpg');
  background-position: center top;
  margin-bottom: 0%;
  font-size: 10vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  box-shadow: 0 3px 80px 10px #331a00;
  background-attachment: fixed;
  text-align: left;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-family: 'Berkshire Swash', cursive;
  text-decoration: overline;
  color: white;
  margin-left: -2.8%;
}

#con2 {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/pic/w.jpg');
  background-position: center top;
  margin-bottom: 0%;
  font-size: 10vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  box-shadow: 0 3px 80px 10px #331a00;
  background-attachment: fixed;
  text-align: left;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-family: 'Berkshire Swash', cursive;
  text-decoration: overline;
  color: white;
  margin-left: -2.8%;
}

.footer-dinner {
  text-decoration: overline;
  text-align: center;
  font-size: 10vh;
  height: 8vh;
  margin-left: -6vh;
  font-family: 'Patua One', cursive;
  font-family: 'Satisfy', cursive;
  font-family: 'Lobster Two', cursive;
  font-family: 'Tangerine', cursive;
  padding-top: 3vh;
}

/* lunch section ends here */

/* dinner starts here */

#head-dinner {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/pic/ho.jpg");
  padding-bottom: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  background-attachment: fixed;
  box-shadow: 0 0 5px 1px #331a00;
  margin-top: -5vh;
}

#break {
  text-align: center;
  color: white;
  margin-bottom: -3%;
  text-align: left;
  font-size: 25vh;
  padding-top: 14%;
  text-decoration: overline;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-family: 'Berkshire Swash', cursive;
  text-align: center;
}

#pic1 {
  height: 45vh;
  box-shadow: 3px 3px 2px 0.5px #331a00;
  ;
  margin-left: 18vh;
}

#pic2 {
  height: 45vh;
  box-shadow: 3px 3px 2px 0.5px #331a00;
  ;
  margin-left: 18vh;
}

#pic3 {
  height: 45vh;
  box-shadow: 3px 3px 2px 0.5px #331a00;
  ;
  margin-left: 18vh;
}

.row {
  margin-top: 5vh;
  background-attachment: scroll;
  padding-bottom: 5vh;
}

#con {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/pic/ho.jpg');
  background-position: center top;
  margin-bottom: 0%;
  font-size: 10vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  box-shadow: 0 3px 30px 10px #331a00;
  background-attachment: fixed;
  text-align: left;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-family: 'Berkshire Swash', cursive;
  text-decoration: overline;
  color: white;
}

#breakfast figcaption {
  text-align: center;
  font-size: 3vh;
  font-family: 'Patua One', cursive;
  font-family: 'Satisfy', cursive;
  margin-top: 2vh;
  text-decoration: overline;
  margin-left: 9vh;
}

body {
  background-color: #ffffff;
}

#coni {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/pic/ho.jpg');
  background-position: center top;
  margin-top: 3%;
  font-size: 10vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  box-shadow: 0 3px 30px 10px #331a00;
  background-attachment: fixed;
  text-align: left;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-family: 'Berkshire Swash', cursive;
  text-decoration: overline;
  color: white;
}

#cont {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/pic/ho.jpg');
  background-position: center top;
  margin-top: 3%;
  font-size: 10vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  box-shadow: 0 3px 30px 10px #331a00;
  background-attachment: fixed;
  text-align: left;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-family: 'Berkshire Swash', cursive;
  text-decoration: overline;
  color: white;
  margin-left: -2.5%;
}

.footer-dinner {
  text-decoration: underline;
  text-align: center;
  font-size: 10vh;
  height: 8vh;
  margin-left: -6vh;
  font-family: 'Patua One', cursive;
  font-family: 'Satisfy', cursive;
  font-family: 'Lobster Two', cursive;
  font-family: 'Tangerine', cursive;
  padding-top: 3vh;
}

/* dinner section ends here */
