#head {
  background-image: url("../images/header.jpg");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}

.recipe-link {
  justify-content: center;
  background-image: url("../images/back1.jpg");
  background-attachment: fixed;
  height: 55vh;
}

.recipe-link h1 {
  padding-top: 2%;
  text-align: center;
  color: white;
}

#nav {
  float: right;
  height: 100px;
  background: transparent; // Transparent initial setting
  display: block;
  position: fixed;
  width: 100%;
  z-index: 99999;
  transition: all ease .5s;
}

.nav {
  float: right;
}

.nav a {
  color: white;
  font-size: 15px;
  letter-spacing: 5px;
}

#logo {
  float: left;
  letter-spacing: normal;
  color: #fff;
  padding: 20px;
  font-size: 18px;
  transition: all ease .5s;
}

#nav.shrink {
  height: 40px;
  transition: all ease .5s;
  background: black; // Change background to black on scroll
}

#nav.shrink #logo {
  padding: 10px;
  transition: all ease .5s;
}

.imgFrame {
  float: left;
  background: transparent;
  padding: 15px;
  border: 4px solid white;
  height: 270px;
  width: 180px;
  margin-top: 4%;
  margin-left: 11%;
}

.imgFrame figcaption {
  color: white;
  text-align: center;
  padding-top: 50px;
}

#footSection {
  background-image: url("../images/footerbg.jpg");
  height: 70vh;
}

#footSection p {
  color: white;
}

#footerImage1 {
  float: left;
  height: 70vh;
  margin-left: : 0%;
}

#footerImage2 {
  float: right;
  height: 70vh;
  padding: 0%;
  margin: 0%;
}

#footSection .socialmedia {
  word-spacing: 40px;
  font-size: 30px;
  color: white;
  text-align: center;
  margin-top: 100px;
}

.text {
  position: absolute;
  margin-left: 260px;
  margin-top: 120px;
}

.text h3 {
  color: white;
}
.text .copyright{
  text-align: center;
  margin-top: 49px;
  margin-left: 20px;
}

.section3 {
  margin-top: 5%;
}

#head2 {
  text-align: center;
}

#img1 {
  float: right;
  margin-top: 0%;
}

.container-fluid {
  padding: 0%;
  margin: 0%;
  margin-left: 0%;
  margin-right: 0%;
}

#img2 {
  float: left;
  margin-left: 0%;
  margin-right: 0%;
}

#spaceMe {
  margin-left: 200px;
}

.click-menu {
  margin-top: 2%;
}

#clickMe {
  float: right;
  margin-right: 20px;
}

#arrow {
  margin-top: 5%;
  margin-right: 0px;
}

#menu {
  height: 15vh;
  margin-left: 0px;
}

/* section */

.section4 {
  margin-top: 5%;
}

.bg {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/S3/section4.jpg');
  height: 40vh;
  background-attachment: fixed;
}

.icons {
  margin-left: 400px;
  margin-top: 10%;
}

#come {
  color: white;
  text-align: center;
  justify-content: center;
}
